# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
coverage/
.nyc_output/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.*.local
*.pyc
__pycache__/

# Logs & Temp
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS & Deployment
function.zip
.aws-sam/
.serverless/

# Local Dev Artifacts
payload*.json
response*.json
out*.json
debug*.json
temp_check/
config_dump.json

# IDEs
.vscode/
.idea/
